---
layout: default
title: A Software Engineer Must Read!
pagination: 
  enabled: true
---

<div class="home" id="home">
	<h1 class="pageTitle">Recent Posts</h1>
	<div class="posts noList">
		{%- for post in paginator.posts -%}
		<article>
			<span class="date">{{ post.date | date: '%B %d, %Y' }}</span>
			<h3>
				<a class="post-link" href="{{ post.url }}">{{ post.title }}</a>
			</h3>
			{%- if post.image -%}
				<div class="featuredImage">
					<img src="{{ '/assets/img/' | append: post.image }}" alt="" />
				</div>
			{%- endif -%}
			<p>
				{{ post.excerpt | strip_html }}
			</p>
		</article>
		{%- endfor -%}
	</div>

	{% if paginator.total_pages > 1 %}
	<div class="pagination">
		{% assign first_page = 1 %}
		{% assign last_page = paginator.total_pages %}
		
		{% if paginator.page == first_page %}
		<a class="previous button__outline" href="{{ site.paginate_path | relative_url | replace: ':num', last_page }}">last</a>
		{% if paginator.next_page %}
			<a class="previous button__outline" href="{{ paginator.next_page_path | relative_url }}">next</a>
		{% endif %}
		{% elsif paginator.page == last_page %}
		<a class="next button__outline" href="{{ '/' | relative_url }}">first</a>
		{% if paginator.previous_page %}
			<a class="next button__outline" href="{{ paginator.previous_page_path | relative_url }}">prev</a>
		{% endif %}
		{% else %}
		<a class="next button__outline" href="{{ '/' | relative_url }}">first</a>
		{% if paginator.previous_page %}
			<a class="next button__outline" href="{{ paginator.previous_page_path | relative_url }}">prev</a>
		{% endif %}
		<a class="previous button__outline" href="{{ site.paginate_path | relative_url | replace: ':num', last_page }}">last</a>
		{% if paginator.next_page %}
		<a class="previous button__outline" href="{{ paginator.next_page_path | relative_url }}">next</a>
		{% endif %}
		{% endif %}
	</div>
	{% endif %}
</div>